<html lang="en">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <%- include('./partials/head.ejs') %> <%- include('./partials/nav.ejs') %>
  <!-- Display of all previously created trees -->
  <body>
    <h3 style="text-align: center; padding-bottom: 1rem; padding-top: 1rem">
      <u>All Trees Displayed</u>
    </h3>
    <table style="text-align: center" class="table table-striped">
      <thead style="text-align: center">
        <tr style="text-align: center"></tr>
      </thead>
      <tbody>
        <% if (theNumbers.length > 0) { %> <% theNumbers.forEach(numbersList =>
        { %>
        <tr>
          <td>
            <div>
              <p style="font-weight: bold">
                Input: <%= ` ${ numbersList.numbers}` %>
              </p>
            </div>
            <div>
              <p style="font-weight: bold">Output:</p>
              <%= JSON.stringify(numbersList.tree, null, 4) %>
            </div>
          </td>

          <% }) %> <% } %>
        </tr>
      </tbody>
    </table>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
